<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TINDER DE FIGURINHAS</title>
    </head>
    <body>
        <div>
            <h1>Atualizar figurinha</h1>
            
            <div>
                <a>Numero</a><br>
                <input type="number" name="numero"><br>
            </div>
            <hr>
            <div>
                <a>Nome</a><br>
                <input type="text" name="nome"><br>
            </div>
            <div>
                <a>Tipo</a><br>
                <input type="text" name="tipo"><br>
            </div>
            <div>
                <a>Pais</a><br>
                <input type="text" name="pais"><br>
            </div>
            <div>
                <a>Cidade</a><br>
                <input type="text" name="cidade"><br>
            </div>
            <div>
                <a>Capacidade</a><br>
                <input type="number" name="capacidade"><br>
            </div>
            <div>
                <a>Clube</a><br>
                <input type="text" name="clube"><br>
            </div>
            <div>
                <a>Peso</a><br>
                <input type="number" name="peso"><br>
            </div>
            <div>
                <a>Altura</a><br>
                <input type="number" name="altura"><br>
            </div>
            <div>
                <a>Nascimento</a><br>
                <input type="date" name="nascimento"><br>
            </div>
            <div>
                <a>Convocacao</a><br>
                <input type="text" name="convocacao"><br>
            </div>
            <div>
                <a>Posicao</a><br>
                <input type="text" name="posicao"><br>
            </div>
            

        </div>
        <br> <input type="submit" value="Submit">
    </body>
</html>
