<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TINDER DE FIGURINHAS</title>
    </head>
    <body>
        <div>
            <h1>Inserir Usuario</h1>
            
            <div>
                <a>CPF</a><br>
                <input type="number" name="cpf"><br>
            </div>
            <div>
                <a>Senha</a><br>
                <input type="password" password="senha"><br>
            </div>
            <div>
                <a>Nome</a><br>
                <input type="text" name="nome"><br>
            </div>
            

        </div>
        <br> <input type="submit" value="Submit">

    </body>
</html>
